<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="azureTableTransportBinding"
             type="AzureStorageBinding.Table.Binding.TableTransportBindingCollectionElement, AzureStorageBinding" />
      </bindingExtensions>
    </extensions>
    <bindings>
      <azureTableTransportBinding>
        <binding name="EchoService"
                 connectionString="UseDevelopmentStorage=true" />
      </azureTableTransportBinding>
    </bindings>
    <services>
      <service name="AzureStorageBinding.TestingService.EchoService">
        <endpoint address="az.table:EchoTesting" binding="azureTableTransportBinding"
                  bindingConfiguration="EchoService" contract="AzureStorageBinding.TestingContract.IEcho" />
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>