<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="azureTableTransportBinding"
             type="AzureStorageBinding.Table.Binding.TableTransportBindingCollectionElement, AzureStorageBinding" />
      </bindingExtensions>
    </extensions>
    <bindings>
      <azureTableTransportBinding>
        <binding name="EchoClient"
                 connectionString="<connectionString>"
                 targetPartitionKey="client0" />
      </azureTableTransportBinding>
    </bindings>
    <client>
      <endpoint address="az.table:EchoTesting" binding="azureTableTransportBinding" bindingConfiguration="EchoClient"
                contract="AzureStorageBinding.TestingContract.IEchoClient" name="EchoClient" />
    </client>
  </system.serviceModel>
</configuration>